#draggable { width: 150px; height: 150px; padding: 0.5em; }
#droppable, .resizable { width: 150px; 
            height: 150px; 
            padding: 0.5em; 
            float: left; 
            margin: 10px; }
  #selectable {list-style-type: none; margin: 0; padding: 0; width: 60%;
    margin-top: 200px;
}
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }